
#nav {
	margin:40px auto 0 auto;
	width:600px;
	padding:0px;
}

#nav li {
	
	display: block;
	float: left;
}
#nav li a {
	font-size: 12px;
	background-color: black;
	padding: 14px 28px;
	color:#fff;
	font-family:helvetica;
	text-transform:uppercase;
	text-decoration:none;
	transition: all .5s linear;
	border-right: 1px solid #ccc;
	box-shadow:inset 0px 0px 30px #888;

}

#firstLink {
	border-radius: 10px 0 0 10px;
}

#lastLink {
	border-radius: 0 10px  10px 0;
	border-right:0px;
}

#nav li a:hover {
	background-color:#eee;
	color:#333;
	box-shadow:inset 0px 0px 30px #ccc;
}

#nav li a:active {
    background-color: grey;
    color: lightblue;
    box-shadow: inset 0px 0px 30px #ccc;
}

.clear {
	clear:both;
}


